* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bebas Neue", cursive;
  background-color: #ffdca8;
  width: 100%;
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  &__logo {
    background-color: #000;
    padding: 2.5rem 5rem;
    &__link {
      color: white;
      font-size: 4.8rem;
    }
  }
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
  &__link {
    text-decoration: none;
    color: black;
    font-size: 2.8rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.header {
  margin-top: 5rem;
  width: 100%;
  &__hero {
    display: flex;
    align-items: center;
  }
  &__heading {
    font-size: 8.4rem;
    width: 80%;
    padding-left: 4rem;
  }
  &__icon {
    width: max-content;
  }
}
.cta {
  display: block;
  text-decoration: none;
  font-size: 3.6rem;
  color: #000;
  width: 24rem;
  height: 8rem;
  border: 4px solid black;
  position: relative;
  z-index: 999;
  transform: rotate(-2deg);
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0.8rem;
    left: 0.8rem;
  }
  &--text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #d31888;
    z-index: 999;
  }
  &__container {
    width: max-content;
    margin-left: 50rem;
    // margin-top: 3rem;
    position: relative;
  }
  &--tl {
    position: absolute;
    top: -4rem;
    left: -4rem;
  }
  &--br {
    position: absolute;
    bottom: -7rem;
    right: -7rem;
    transform: rotate(25deg);
  }
}
.card {
  &__container {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 10rem;
    margin-left: 4rem;
  }
  &__box {
    width: 20rem;
    height: 25rem;
    border: 3px solid black;
    position: relative;
    z-index: 99999;
    border-radius: 5px;
    // overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      background-color: #000;
      width: 100%;
      border-radius: inherit;
      height: 100%;
      top: 0.6rem;
      left: 0.6rem;
    }
    &--1 {
      & .card__box__header {
        background-color: #18d3d3;
      }
    }
    &--2 {
      & .card__box__header {
        background-color: #D37D18;
      }
    }
    &__clone {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 99999;
      border-radius: inherit;
    }
    &__head {
      &er {
        // position: absolute;
        width: 100%;
        height: 5rem;
        border-radius: 5px 5px 0 0;
        // border: 2px solid black;
        border-bottom: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2rem;
      }
      &ing {
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 1.6;
      }
    }
    &__content {
      margin-top: 2rem;
    }
    &__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
    &__item {
      &:not(:last-child) {
        // margin-bottom: 1rem;
      }
  }
}
}